app/views/_layout.jade
- var user = { name: "hans", gender:"male" }
doctype html
html(ng-app="app")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        //meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //meta(name='mobile-web-app-capable', content='yes')
        //meta(name='apple-mobile-web-app-capable', content='yes')


        //link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')

        block title
            title Ladies In Black Browser

        // define as early as possible to avoid flicker on slow connection
        style.
            [ng-cloak], .ng-cloak {
                display: none !important;
            }


        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,900,400' rel='stylesheet' type='text/css')
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
        // build:css styles/style.min.css
        link(href="bower_components/normalize.css/normalize.css" rel="stylesheet")
        link(href="styles/style.css" rel="stylesheet")
        // endbuild

        //script(src="bower_components/webcomponentsjs/webcomponentsjs.js")

        script(src="scripts/modern.js")



    body(ng-cloak="")
        main
            header.Navigation--wrap
                .content
                    nav.Navigation
                        h1.Navigation--brand LiB Browser
                        if locals.active === 0
                            a(href="/").active Home
                        else
                            a(href="/") Home
                        if locals.active === 1
                            a(href="/about").active Über uns
                        else
                            a(href="/about") Über uns
                        if locals.active === 2
                            a(href="/contact").active Kontakt
                        else
                            a(href="/contact") Kontakt

            block body




        footer(role="main")
            .content
                strong   Copyright ©Codeneric 2015


        // build:js scripts/concat.min.js
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="bower_components/angular/angular.js")
        script(src="scripts/app.js")
        block footerScripts
        // endbuild

app/views/_layout.html
<!DOCTYPE html><html ng-app="app"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')--><meta name="viewport" content="width=device-width, initial-scale=1"><!--meta(name='mobile-web-app-capable', content='yes')--><!--meta(name='apple-mobile-web-app-capable', content='yes')-->
<!--link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')--><title>Ladies In Black Browser</title><!-- define as early as possible to avoid flicker on slow connection--><style>[ng-cloak], .ng-cloak {
    display: none !important;
}

</style><link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,900,400" rel="stylesheet" type="text/css"><link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'><link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><!-- build:css styles/style.min.css--><link href="bower_components/normalize.css/normalize.css" rel="stylesheet"><link href="styles/style.css" rel="stylesheet"><!-- endbuild--><!--script(src="bower_components/webcomponentsjs/webcomponentsjs.js")--><script src="scripts/modern.js"></script></head><body ng-cloak=""><main><header class="Navigation--wrap"><div class="content"><nav class="Navigation"><h1 class="Navigation--brand">LiB Browser</h1><a href="/">Home</a><a href="/about">Über uns</a><a href="/contact">Kontakt</a></nav></div></header></main><footer role="main"><div class="content"><strong>  Copyright ©Codeneric 2015</strong></div></footer><!-- build:js scripts/concat.min.js--><script src="bower_components/jquery/dist/jquery.js"></script><script src="bower_components/angular/angular.js"></script><script src="scripts/app.js"></script><!-- endbuild--></body></html>
