app/views/index.jade
extend _layout

block title
   title Ladies In Black | brandthemes

block footerScripts
   script(src="bower_components/angular/angular.js")
   script(src="scripts/app.js")

block body

   section.Slider
      .content
         h1.Animation.Fadeup Der neue Browser-Style für die LiB Fans!
         img(src="images/slider1.png")

   .content
      section.Feature--list.Animation.Cascade
         .Feature
            i.fa.fa-heart.Feature--icon
            h3.Feature--title Vereinsliebe
            p.Feature--desc Bieten sie ihren Fans die Möglichkeit sich auch während des Surfens im Internet mit ihrem Lieblingsverein zu identifizieren.
            a(href="/#vereinsliebe", cc-scroll="").Feature--more mehr

         .Feature
            i.fa.fa-comments-o.Feature--icon
            h3.Feature--title  Kommunikation
            p.Feature--desc Informieren sie Nutzer über aktuelle Spiele, Liveticker und besondere Aktionen.
            a(href="/#kommunikation" cc-scroll="").Feature--more mehr

         .Feature
            i.fa.fa-mobile.Feature--icon
            h3.Feature--title  Alle Platformen
            p.Feature--desc Erreichen sie ihre Fans in Echtzeit auf allen Endgeräten, ob Smartphone, PC oder Tablet.
            a(href="/#platform" cc-scroll="").Feature--more mehr


   section.Feature__single#vereinsliebe
      .content
         .Feature__single--textwrap
            h2.Feature__single--title Fans wollen ihre Vereinsliebe zeigen!
            p.Feature__single--desc Mit unseren Browser-Erweiterungen wird das Aussehen trister Browser wie Firefox, Google Chrome oder der Internet Explorer an den LiB-Style angepasst. Nach einer simplen One-Click Installation ändern sich die Browser Farben zu den LiB Vereinsfarben Gold und Schwarz.
         .Feature__single--img
            img(src="images/feature_1.png")

   section.Feature__single#kommunikation
      .content
         .Feature__single--textwrap
            h2.Feature__single--title Kommunizieren sie mit den LiB Fans!
            p.Feature__single--desc Neben dem veränderten Aussehen des Browsers wird auch eine Kommunikationsweg zwischen ihnen und ihren Fans eingerichtet. Sie erhalten von uns einen Zugang zu einer Webseite, auf der sie Nachrichten an alle Fans versenden können.Ob sie ihre Fans über den momentanen Spielstand oder über ein baldiges Spiel informieren wollen, hier sind ihnen keine Grenzen gesetzt.
         .Feature__single--img
            img(src="images/feature_2.png")
   section.Feature__single#platform
      .content
         .Feature__single--textwrap
            h2.Feature__single--title Bieten sie den LiB Fans Software für alle Platformen!
            p.Feature__single--desc Wir bieten ihnen angepasste Browser-Versionen für die mobilen Betriebssysteme Android und iOS an. Eine perfekte Ergänzung zu bereits vorhandenen Apps, oder als Beginn einer Präsenz in Apples AppStore und Googles PlayStore.
         .Feature__single--img
            img(src="images/feature_3.png")

app/views/index.html
<!DOCTYPE html><html ng-app="app"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')--><meta name="viewport" content="width=device-width, initial-scale=1"><!--meta(name='mobile-web-app-capable', content='yes')--><!--meta(name='apple-mobile-web-app-capable', content='yes')-->
<!--link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')--><title>Ladies In Black | brandthemes</title><!-- define as early as possible to avoid flicker on slow connection--><style>[ng-cloak], .ng-cloak {
    display: none !important;
}

</style><link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,900,400" rel="stylesheet" type="text/css"><link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'><link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><!-- build:css styles/style.min.css--><link href="bower_components/normalize.css/normalize.css" rel="stylesheet"><link href="styles/style.css" rel="stylesheet"><!-- endbuild--><!--script(src="bower_components/webcomponentsjs/webcomponentsjs.js")--><script src="scripts/modern.js"></script></head><body ng-cloak=""><main><header class="Navigation--wrap"><div class="content"><nav class="Navigation"><h1 class="Navigation--brand">LiB Browser</h1><a href="/">Home</a><a href="/about">Über uns</a><a href="/contact">Kontakt</a></nav></div></header><section class="Slider"><div class="content"><h1 class="Animation Fadeup">Der neue Browser-Style für die LiB Fans!</h1><img src="images/slider1.png"></div></section><div class="content"><section class="Feature--list Animation Cascade"><div class="Feature"><i class="fa fa-heart Feature--icon"></i><h3 class="Feature--title">Vereinsliebe</h3><p class="Feature--desc">Bieten sie ihren Fans die Möglichkeit sich auch während des Surfens im Internet mit ihrem Lieblingsverein zu identifizieren.</p><a href="/#vereinsliebe" cc-scroll="" class="Feature--more">mehr</a></div><div class="Feature"><i class="fa fa-comments-o Feature--icon"></i><h3 class="Feature--title"> Kommunikation</h3><p class="Feature--desc">Informieren sie Nutzer über aktuelle Spiele, Liveticker und besondere Aktionen.</p><a href="/#kommunikation" cc-scroll="" class="Feature--more">mehr</a></div><div class="Feature"><i class="fa fa-mobile Feature--icon"></i><h3 class="Feature--title"> Alle Platformen</h3><p class="Feature--desc">Erreichen sie ihre Fans in Echtzeit auf allen Endgeräten, ob Smartphone, PC oder Tablet.</p><a href="/#platform" cc-scroll="" class="Feature--more">mehr</a></div></section></div><section id="vereinsliebe" class="Feature__single"><div class="content"><div class="Feature__single--textwrap"><h2 class="Feature__single--title">Fans wollen ihre Vereinsliebe zeigen!</h2><p class="Feature__single--desc">Mit unseren Browser-Erweiterungen wird das Aussehen trister Browser wie Firefox, Google Chrome oder der Internet Explorer an den LiB-Style angepasst. Nach einer simplen One-Click Installation ändern sich die Browser Farben zu den LiB Vereinsfarben Gold und Schwarz.</p></div><div class="Feature__single--img"><img src="images/feature_1.png"></div></div></section><section id="kommunikation" class="Feature__single"><div class="content"><div class="Feature__single--textwrap"><h2 class="Feature__single--title">Kommunizieren sie mit den LiB Fans!</h2><p class="Feature__single--desc">Neben dem veränderten Aussehen des Browsers wird auch eine Kommunikationsweg zwischen ihnen und ihren Fans eingerichtet. Sie erhalten von uns einen Zugang zu einer Webseite, auf der sie Nachrichten an alle Fans versenden können.Ob sie ihre Fans über den momentanen Spielstand oder über ein baldiges Spiel informieren wollen, hier sind ihnen keine Grenzen gesetzt.</p></div><div class="Feature__single--img"><img src="images/feature_2.png"></div></div></section><section id="platform" class="Feature__single"><div class="content"><div class="Feature__single--textwrap"><h2 class="Feature__single--title">Bieten sie den LiB Fans Software für alle Platformen!</h2><p class="Feature__single--desc">Wir bieten ihnen angepasste Browser-Versionen für die mobilen Betriebssysteme Android und iOS an. Eine perfekte Ergänzung zu bereits vorhandenen Apps, oder als Beginn einer Präsenz in Apples AppStore und Googles PlayStore.</p></div><div class="Feature__single--img"><img src="images/feature_3.png"></div></div></section></main><footer role="main"><div class="content"><strong>  Copyright ©Codeneric 2015</strong></div></footer><!-- build:js scripts/concat.min.js--><script src="bower_components/jquery/dist/jquery.js"></script><script src="bower_components/angular/angular.js"></script><script src="scripts/app.js"></script><script src="bower_components/angular/angular.js"></script><script src="scripts/app.js"></script><!-- endbuild--></body></html>
